<section class="container">
  <div class="row">
    <div class="col-lg-12 table-padding">
      <div class="register-img-background pg-login"></div>
      <div id="loginbox" class="mainbox col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Cập Nhật Mật Khẩu</div>
          </div>
          <div style="padding-top: 20px" class="panel-body">
            <form
              name="loginForm"
              class="form-horizontal"
              [formGroup]="formUpdatePassword"
              (ngSubmit)="doUpdatePassword()"
            >
              <div style="margin-top: 25px" class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-send"></i
                ></span>
                <input
                  type="password"
                  class="form-control"
                  name="passwordold"
                  placeholder="Mật Khẩu Cũ"
                  formControlName="oldPass"
                  required
                />
              </div>

              <div style="margin-top: 25px" class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-lock"></i>
                </span>
                <input
                  type="password"
                  class="form-control"
                  name="passwordnew"
                  placeholder="Mật Khẩu Mới"
                  formControlName="newPass"
                  required
                />
              </div>

              <div style="margin-top: 20px" class="form-group">
                <!-- Button -->
                <div class="col-sm-12 controls">
                  <input
                    type="submit"
                    class="btn btn-success login-btn"
                    value="Log In"
                  />
                </div>
                <br /><br />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
