<section class="top-header">
  <div class="container">
    <div class="col-xs-6 col-md-6 top-user">
      <div class="user-name">
        <p>Welcome to BookStore</p>
      </div>
    </div>
    <div class="col-xs-6 col-md-6 mainmenu">
      <nav>
        <ul>
          <li></li>
          <li *ngIf="checkStatusLogin == false">
            <a routerLink="/signup" routerLinkActive="active">Register</a>
          </li>
          <li *ngIf="checkStatusLogin == false">
            <a routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li *ngIf="checkStatusLogin == true">
            <a (click)="logOut()">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<!--Menu-->
<header style="margin-bottom: 10px">
  <div id="top" class="container box-logo-menu">
    <div class="row">
      <nav class="col-md-12 navigation-menu">
        <div class="col-md-3 content-logo" style="margin-top: 18px">
          <a
            routerLink=""
            routerLinkActive="active"
            style="text-decoration: none"
            ><h2>Book<span>Lover</span></h2></a
          >
        </div>
        <div class="col-md-8 mainmenu">
          <div id="navbar-collapse-1">
            <ul class="menu-first-level">
              <li class="expand">
                <a routerLink="" routerLinkActive="active">Home</a>
                <!-- DropDown Menu -->
              </li>
              <li>
                <a routerLink="/books" routerLinkActive="active">Products</a>
              </li>
              <li class="exp-mega">
                <a href="">Categories</a>
                <!-- Mega Menu Four Column -->
                <div class="mega-menu">
                  <span>
                    <a class="mega-title">Categories</a>
                    <div *ngFor="let item of typesArray">
                      <a
                        routerLinkActive="active"
                        routerLink="/books/type/{{ item.id }}"
                        >{{ item.name }}</a
                      >
                    </div>
                  </span>
                  <span>
                    <a class="mega-title" href="">Nhà Xuất Bản</a>
                    <div *ngFor="let item of publishersArray">
                      <a
                        routerLinkActive="active"
                        routerLink="/books/publisher/{{ item.id }}"
                        >{{ item.name }}</a
                      >
                    </div>
                  </span>
                  <span class="mega-menu-img">
                    <a href="#"
                      ><img src="../../../assets/images/open-book.png" alt=""
                    /></a>
                  </span>
                </div>
              </li>

              <li class="expand">
                <a routerLink="/blogs" routerLinkActive="active">Blogs</a>
                <!-- DropDown Menu -->
              </li>
              <li *ngIf="checkStatusLogin">
                <a routerLinkActive="active" routerLink="/account">Account</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Top Cart -->
        <div class="col-md-1 box-shoppingCart" style="margin-top: 2px">
          <div
            class="list-product dropdown content-count-cart-header"
            auto-close="disabled"
          >
            <a routerLink="/cart" routerLinkActive="active">
              <div
                class="dropdown-toggle"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img src="../../../assets/images/basket.png" alt="" />
                <p class="number-prod-cart">
                  <span class="fa-stack fa-3x">
                    <strong class="fa-stack-1x fa-stack-text fa-inverse">{{
                      totalBookByIdInCart
                    }}</strong>
                  </span>
                </p>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
