<section class="container page-details-product">
  <div class="row">
    <div class="col-md-12 table-padding">
      <div class="alert alert-danger" role="alert" *ngIf="!checkExists">
        Sản phẩm không tồn tại
      </div>
      <div class="panel panel-info-full">
        <div class="list-product" *ngIf="checkExists">
          <div class="col-md-3 my-shop-animation">
            <div class="box-prod">
              <div class="box-img-book">
                <img src="{{ product.urlBookImageShow }}" />
              </div>
            </div>
          </div>

          <div class="col-md-9 box-desc-detail">
            <h2 class="title-product">{{ product.name }}</h2>

            <p>
              {{ product.shortReview }}
            </p>

            <p class="author-txt">
              <span>Author: </span>{{ product.authorName }}
            </p>

            <p class="cat-txt"><span>Category: </span>{{ product.typeName }}</p>
            <p class="cat-txt"><span>NXB: </span>{{ product.publisherName }}</p>
            <p class="book-price">{{ product.price | number: "":"es" }} VNĐ</p>
            <div style="color: orange">
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&hearts;</span
                  >&hearts;
                </span>
              </ng-template>

              <ngb-rating
                [(rate)]="product.averageStar"
                [starTemplate]="t"
                [readonly]="true"
                [max]="5"
              ></ngb-rating>
            </div>
            <div class="box-btn-shop">
              <div class="bt-img" *ngIf="product.quantity > 0">
                <button
                  type="button"
                  class="btn btn-add-cart"
                  (click)="addBookToCart(product)"
                >
                  <i class="fa fa-shopping-bag"></i>Buy
                </button>
              </div>
            </div>
          </div>

          <div
            class="col-md-12"
            style="margin-top: 12px; border-top: 1px dashed dimgray"
          >
            <app-rate-and-commend></app-rate-and-commend>
          </div>
          <app-all-commend-rate-baseon-bookid></app-all-commend-rate-baseon-bookid>
        </div>
      </div>
    </div>
  </div>
</section>
