<section class="home5">
  <div class="block-service block-service-opt">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="col-md-12 simbol-desc">
              <p class="title">Safe Shopping</p>
              <p>Safe Shopping Guarantee</p>
            </div>
            <div class="col-md-12 simbol-ft">
              <i class="fa fa-life-ring" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="col-md-12 simbol-desc">
              <p class="title">30- day return</p>
              <p>Moneyback guarantee</p>
            </div>
            <div class="col-md-12 simbol-ft">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="col-md-12 simbol-desc">
              <p class="title">Free Shipping</p>
              <p>On all order</p>
            </div>
            <div class="col-md-12 simbol-ft">
              <i class="fa fa-plane" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="col-md-12 simbol-desc">
              <p class="title">24/7 support</p>
              <p>online Consultations</p>
            </div>
            <div class="col-md-12 simbol-ft">
              <i class="fa fa-headphones" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
