<section class="container">
  <div class="row">
    <div class="col-lg-12 text-center shop-title-store">
      <h1 class="section-title">Your Cart</h1>
      <p class="sub-title">Đây là danh sách các đơn đặt hàng của bro</p>
    </div>
    <div class="col-md-12 box-blog">
      <div class="content-table-cart">
        <div class="col-md-6 number-cart-item">
          <p class="total-items">You Have {{ totalNumberCarts }} carts</p>
        </div>
        <div class="bt-tourn-back">
          <a routerLink="/books" routerLinkActive="active">
            <i class="fa fa-power-off"></i>back to store
          </a>
        </div>
        <!-- items -->
        <table class="table tab-shop">
          <!-- header -->
          <tbody>
            <tr class="tab-top-txt">
              <td>
                <p>CartId</p>
              </td>
              <td>
                <p>Ngày tạo đơn</p>
              </td>
              <td class="tdCenter">
                <p>Giá tiền trước giảm giá</p>
              </td>
              <td class="tdCenter">
                <p>Số phần trăm giảm</p>
              </td>
              <td class="tdRight">
                <p>Giá thực trả</p>
              </td>
              <td class="tdCenter">
                <p>Status</p>
              </td>
              <td>View</td>
            </tr>

            <!-- cart items -->

            <tr *ngFor="let item of data">
              <td class="cart-column-img">
                <div class="col-md-3 cart-prod-img">
                  <p>{{ item.id }}</p>
                </div>
              </td>
              <td class="cart-column-img">
                <div class="col-md-3 cart-prod-img">
                  <p>{{ item.dateOfCreated }}</p>
                </div>
              </td>
              <td class="cart-quantity">
                <div class="input-append">
                  <p>{{ item.totalPrice }}</p>
                </div>
              </td>
              <td class="tdRight">
                <p>{{ item.percentDiscount }} %</p>
              </td>
              <td class="ic-remove" title="remove from cart">
                <div class="input-append">
                  <p>{{ item.totalPriceAfterDiscount }}</p>
                </div>
              </td>
              <td class="ic-remove" title="remove from cart">
                <div class="input-append">
                  <p>{{ item.status }}</p>
                </div>
              </td>
              <td class="ic-remove" title="remove from cart">
                <a class="input-append" routerLink="/infocart/{{ item.id }}" routerLinkActive="active">
                  <button type="button" class="btn btn-success">
                    Chi tiết
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
