<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post" *ngIf="checkExists">
  <!--begin::Container-->
  <div id="kt_content_container" class="container-xxl">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-xl-row">
      <!--begin::Sidebar-->
      <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
        <!--begin::Card-->
        <div class="card mb-5 mb-xl-8">
          <!--begin::Card body-->
          <div class="card-body pt-15">
            <!--begin::Summary-->
            <div class="d-flex flex-center flex-column mb-5">
              <!--begin::Avatar-->
              <div class="symbol symbol-100px symbol-circle mb-7">
                <img src="{{product.urlBookImageShow}}" alt="image" />
              </div>
              <!--end::Avatar-->
              <!--begin::Name-->
              <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-1">{{product.name}}</a>
              <!--end::Name-->
              <!--begin::Position-->
              <!--end::Position-->
              <!--begin::Info-->
              <!--end::Info-->
            </div>
            <!--end::Summary-->
            <!--begin::Details toggle-->
            <div class="d-flex flex-stack fs-4 py-3">
              <div class="fw-bolder rotate collapsible" data-bs-toggle="collapse" href="#kt_customer_view_details"
                role="button" aria-expanded="false" aria-controls="kt_customer_view_details">Details
                <span class="ms-2 rotate-180">
                  <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                  <span class="svg-icon svg-icon-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path
                        d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                        fill="black" />
                    </svg>
                  </span>
                  <!--end::Svg Icon-->
                </span></div>
              <span data-bs-toggle="tooltip" data-bs-trigger="hover" title="Edit customer details">
                <a href="#" class="btn btn-sm btn-light-primary" data-bs-toggle="modal"
                  data-bs-target="#kt_modal_update_customer">Edit</a>
              </span>
            </div>
            <!--end::Details toggle-->
            <div class="separator separator-dashed my-3"></div>
            <!--begin::Details content-->
            <div id="kt_customer_view_details" class="collapse show">
              <div class="py-5 fs-6">
                <!--begin::Badge-->
                <div class="badge badge-light-info d-inline">Thông Tin Sách</div>
                <!--begin::Badge-->
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">Sách ID</div>
                <div class="text-gray-600">{{product.id}}</div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">Tên Tác Giả</div>
                <div class="text-gray-600">
                  <a href="#" class="text-gray-600 text-hover-primary">{{product.authorName}}</a>
                </div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">Số lượng hiện có</div>
                <div class="text-gray-600">{{product.quantity}}</div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">Tên Nhà Xuất Bản</div>
                <div class="text-gray-600">{{product.publisherName}}</div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">Tên thể loại</div>
                <div class="text-gray-600">{{product.typeName}}</div>
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">Giá bán</div>
                <div class="text-gray-600">{{product.price}}</div>
              </div>
            </div>
            <!--end::Details content-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Card-->
        <!--begin::Connected Accounts-->

        <!--end::Connected Accounts-->
      </div>
      <!--end::Sidebar-->
      <!--begin::Content-->
      <div class="flex-lg-row-fluid ms-lg-15">
        <!--begin:::Tabs-->

        <!--end:::Tabs-->
        <!--begin:::Tab content-->
        <div class="tab-content" id="myTabContent">
          <!--begin:::Tab pane-->
          <div class="card pt-4 mb-6 mb-xl-9">
            <!--begin::Card header-->
            <div class="card-header border-0">
              <!--begin::Card title-->
              <div class="card-title">
                <h2 class="fw-bolder">Nội dung truyện</h2>
              </div>
              <!--end::Card title-->
              <!--begin::Card toolbar-->
              <div class="card-toolbar">
                <a href="#" class="btn btn-sm btn-flex btn-light-primary" data-bs-toggle="modal"
                  data-bs-target="#kt_modal_adjust_balance">
                  <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                  <span class="svg-icon svg-icon-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path opacity="0.3"
                        d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                        fill="black" />
                      <path
                        d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                        fill="black" />
                    </svg>
                  </span>
                  <!--end::Svg Icon-->Edit</a>
              </div>
              <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
              <div class="fs-7 fw-normal text-muted">{{product.shortReview}}</div>
            </div>
            <!--end::Card body-->
          </div>
          <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-8">
            <!--begin:::Tab item-->
            <li class="nav-item">
              <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab"
                href="#kt_customer_view_overview_tab">Biên Lai Đã Mua Sách Này</a>
            </li>
            <!--end:::Tab item-->
            <!--begin:::Tab item-->


            <!--end:::Tab item-->
          </ul>
          <div class="tab-pane fade show active" id="kt_customer_view_overview_tab" role="tabpanel">
            <!--begin::Card-->
            <div class="card pt-4 mb-6 mb-xl-9">
              <!--begin::Card header-->
              <div class="card-header border-0">
                <!--begin::Card title-->
                <div class="card-title">
                  <h2>Invoice Records</h2>
                </div>
                <!--end::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                  <!--begin::Filter-->
                  <button type="button" class="btn btn-sm btn-flex btn-light-primary" data-bs-toggle="modal"
                    data-bs-target="#kt_modal_add_payment" (click)="refreshPage()">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                    <span class="svg-icon svg-icon-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black" />
                        <rect x="10.8891" y="17.8033" width="12" height="2" rx="1"
                          transform="rotate(-90 10.8891 17.8033)" fill="black" />
                        <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="black" />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->Refresh</button>
                  <!--end::Filter-->
                </div>
                <!--end::Card toolbar-->
              </div>
              <!--end::Card header-->
              <!--begin::Card body-->
              <div class="card-body pt-0 pb-5">
                <!--begin::Table-->
                <table class="table align-middle table-row-dashed gy-5" id="kt_table_customers_payment">
                  <!--begin::Table head-->
                  <thead class="border-bottom border-gray-200 fs-7 fw-bolder">
                    <!--begin::Table row-->
                    <tr class="text-start text-muted text-uppercase gs-0">
                      <th class="min-w-100px">Invoice No.</th>
                      <th>Xét duyệt</th>
                      <th>Trạng Thái Đơn Hàng</th>
                      <th class="min-w-100px">Date</th>
                      <th class="text-end min-w-100px pe-4">Actions</th>
                    </tr>
                    <!--end::Table row-->
                  </thead>
                  <!--end::Table head-->
                  <!--begin::Table body-->
                  <tbody class="fs-6 fw-bold text-gray-600">
                    <!--begin::Table row-->
                    <tr *ngFor="let item of bookOnCart">
                      <!--begin::Invoice=-->
                      <td>
                        <a routerLink="/books/{{ item.id }}" routerLinkActive="active"
                          class="text-gray-600 text-hover-primary mb-1">{{item.id}}</a>
                      </td>
                      <!--end::Invoice=-->
                      <!--begin::Status=-->
                      <td>
                        <span class="badge badge-light-success" *ngIf="item.adminApprove">Approve</span>
                        <span class="badge badge-light-warning" *ngIf="!item.adminApprove">Pending</span>
                      </td>
                      <!--end::Status=-->
                      <!--begin::Amount=-->
                      <td>
                        <span class="badge badge-light-success" *ngIf="item.status">Successfull</span>
                        <span class="badge badge-light-danger" *ngIf="!item.status">Rejected</span>
                      </td>
                      <!--end::Amount=-->
                      <!--begin::Date=-->
                      <td>{{item.dateOfCreated}}</td>
                      <!--end::Date=-->
                      <!--begin::Action=-->
                      <td class="pe-0 text-end">
                        <a class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click"
                          (click)="goToCart(item.id)" data-kt-menu-placement="bottom-end">Xem chi tiết
                          <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                          <span class="svg-icon svg-icon-5 m-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none">
                              <path
                                d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                                fill="black" />
                            </svg>
                          </span>
                          <!--end::Svg Icon--></a>

                        <!--end::Menu-->
                      </td>
                      <!--end::Action=-->
                    </tr>
                    <!--end::Table row-->
                    <!--begin::Table row-->

                    <!--end::Table row-->
                  </tbody>
                  <!--end::Table body-->
                </table>
                <!--end::Table-->
              </div>
              <!--end::Card body-->
            </div>
            <!--end::Card-->
            <!--begin::Card-->

            <!--end::Card-->
            <!--begin::Card-->
            <div class="card pt-2 mb-6 mb-xl-9">
              <!--begin::Card header-->
              <div class="card-header border-0">
                <!--begin::Card title-->
                <div class="card-title">
                  <h2>Review Truyện</h2>
                </div>
                <!--end::Card title-->
                <!--begin::Toolbar-->
                <div class="card-toolbar m-0">
                  <!--begin::Tab nav-->
                  <ul class="nav nav-stretch fs-5 fw-bold nav-line-tabs nav-line-tabs-2x border-transparent"
                    role="tablist">
                    <li class="nav-item" role="presentation">
                      <a id="kt_referrals_year_tab" class="nav-link text-active-primary active" data-bs-toggle="tab"
                        role="tab" href="#kt_customer_details_invoices_1">1</a>
                    </li>
                  </ul>
                  <!--end::Tab nav-->
                </div>
                <!--end::Toolbar-->
              </div>
              <!--end::Card header-->
              <!--begin::Card body-->
              <div class="card-body pt-0">
                <!--begin::Tab Content-->
                <div id="kt_referred_users_tab_content" class="tab-content">
                  <!--begin::Tab panel-->
                  <div id="kt_customer_details_invoices_1" class="py-0 tab-pane fade show active" role="tabpanel">
                    <!--begin::Table-->
                    <table id="kt_customer_details_invoices_table_1"
                      class="table align-middle table-row-dashed fs-6 fw-bolder gy-5">
                      <!--begin::Thead-->
                      <thead class="border-bottom border-gray-200 fs-7 text-uppercase fw-bolder">
                        <tr class="text-start text-muted gs-0">
                          <th class="min-w-100px">User Id</th>
                          <th class="min-w-100px">Số sao</th>
                          <th class="min-w-100px">Nội dung</th>
                          <th class="min-w-125px">Date</th>
                          <th class="min-w-100px text-end pe-7">Show/Hide</th>
                        </tr>
                      </thead>
                      <!--end::Thead-->
                      <!--begin::Tbody-->
                      <tbody class="fs-6 fw-bold text-gray-600">
                        <tr *ngFor="let item of commendOnBook">
                          <td>
                            <a href="#" class="text-gray-600 text-hover-primary">{{item.userInfoId}}</a>
                          </td>
                          <td class="text-success" *ngIf="item.status">{{item.rating}}</td>
                          <td class="text-danger" *ngIf="!item.status">{{item.rating}}</td>
                          <td>
                            <span class="badge badge-light-success" *ngIf="item.status">{{item.commend}}</span>
                            <span class="badge badge-light-danger" *ngIf="!item.status">{{item.commend}}</span>
                          </td>
                          <td>{{item.dateOfCreated}}</td>
                          <td class="text-end">
                            <button class="btn btn-sm btn-light btn-active-light-primary" *ngIf="item.status"
                              (click)="doHideShow(item)">Hide</button>
                            <button class="btn btn-sm btn-light btn-active-light-primary" *ngIf="!item.status"
                              (click)="doHideShow(item)">Show</button>
                          </td>
                        </tr>


                      </tbody>
                      <!--end::Tbody-->
                    </table>
                    <!--end::Table-->
                  </div>
                  <!--end::Tab panel-->
                  <!--end::Tab panel-->
                </div>
                <!--end::Tab Content-->
              </div>
              <!--end::Card body-->
            </div>
            <!--end::Card-->
          </div>
          <!--end:::Tab pane-->
          <!--end:::Tab pane-->
          <!--begin:::Tab pane-->

          <!--end:::Tab pane-->
        </div>
        <!--end:::Tab content-->
      </div>
      <!--end::Content-->
    </div>

    <!--end::Modal - New Card-->
    <!--begin::Modal - New Address-->

    <!--end::Modal - New Address-->
    <!--begin::Modal - New Card-->

    <!--end::Modal - New Card-->
    <!--end::Modals-->
  </div>
  <!--end::Container-->
</div>
