<div
  class="col-md-8 content-send-order animate-show animate-hide"
  style="float: none; margin: auto"
  aria-hidden="true"
>
  <h2>Hoàng thành thông tin giao hàng</h2>
  <div class="box-content contact">
    <div class="panel-body">
      <form
        name="contactform"
        class="form-horizontal"
        [formGroup]="formCustomerReceiverBook"
      >
        <div class="form-group">
          <div class="col-md-6"><h1>Họ Tên:</h1></div>
          <div class="col-md-12">
            <input
              type="text"
              class="form-control"
              id="inputName"
              name="inputName"
              placeholder="Nhập Tên Người Nhận Hàng"
              required=""
              autocomplete="off"
              formControlName="name"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6"><h1>Số điện thoại:</h1></div>
          <div class="col-md-12">
            <input
              type="number"
              class="form-control"
              id="inputSDT"
              name="inputSDT"
              placeholder="Nhập Số Điện Thoại"
              required=""
              autocomplete="off"
              formControlName="sdt"
            />
          </div>
        </div>
        <!-- COUNTRY -->

        <div class="form-group">
          <div class="col-md-6"><h1>Chọn tỉnh</h1></div>
          <div class="col-md-12">
            <!-- chọn tỉnh -->
            <select
              class="select-opt form-control-select"
              aria-invalid="false"
              formControlName="province"
              (change)="getDistinctByProvinceCode()"
            >
              <option *ngFor="let item of provinces" [ngValue]="item">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <!-- City -->
        <div class="form-group" *ngIf="checkSelectedProvince">
          <div class="col-md-6"><h1>Chọn phường</h1></div>
          <div class="col-md-12">
            <select
              class="select-opt form-control-select"
              aria-invalid="false"
              formControlName="distinct"
              (change)="getWardsByDistinctCode()"
            >
              <option
                *ngFor="let item of distinctBaseOnProvinceCode"
                [ngValue]="item"
              >
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <!-- City -->
        <div class="form-group" *ngIf="checkSelectedDistinct">
          <div class="col-md-6"><h1>Chọn khu phố</h1></div>
          <div class="col-md-12">
            <select
              class="select-opt form-control-select"
              aria-invalid="false"
              formControlName="ward"
            >
              <option
                *ngFor="let item of wardBaseOnDistinctCode"
                [ngValue]="item"
              >
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <!-- ADDRESS -->
        <div class="form-group">
          <div class="col-md-6"><h1>Nhập số nhà</h1></div>
          <div class="col-md-12">
            <input
              type="text"
              name="address"
              class="form-control"
              placeholder="Address"
              required=""
              autocomplete="off"
              formControlName="address"
            />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6"><h1>Ghi chú</h1></div>
          <div class="col-md-12">
            <textarea
              class="form-control"
              rows="4"
              id="inputMessage"
              name="inputMessage"
              placeholder="Your message..."
              required=""
              formControlName="note"
            ></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6"><h1>mã giảm giá</h1></div>
          <div class="col-md-12">
            <input
              type="text"
              name="address"
              class="form-control"
              placeholder="Mã giảm giá (default: No)"
              required=""
              autocomplete="off"
              formControlName="couponCode"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <button
              type="submit"
              class="btn btn-lg btn-primary checkout"
              (click)="submitFromNhanHang()"
            >
              Send Order
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
